[Desktop Entry]
Name=shinyShortcut
Comment=Run Shiny App
Exec=C:/Users/james/R_Projects/NBA/Apps/NBA_APP/.shiny_run/shinyShortcut.r
Terminal=false
Type=Application
